In [ ]:
#Addition of two Float numbers

In [4]:
num1 =23.21
num2 =12.23
sum  =num1+num2
print('The sum of {0} and {1} is {2}'.format(num1,num2,sum))

The sum of 23.21 and 12.23 is 35.44

In [ ]:
#Subtraction of two Float numbers

In [16]:
num1 =23.21
num2 =12.23
sub  =num1-num2
print('The subtraction of {0} and {1} is {2}'.format(num1,num2,sub))

The subtraction of 23.21 and 12.23 is 10.98

In [ ]:
#Adition of two Integer numbers

In [6]:
num1 =10
num2 =20
sum  =num1+num2
print('The sum of {0} and {1} is {2}'.format(num1,num2,sum))

The sum of 10 and 20 is 30

In [ ]:
#Subtraction of two Integer numbers

In [17]:
num1 =50
num2 =20
sub =num1-num2
print('The subtraction of {0} and {1} is {2}'.format(num1,num2,sub))

The subtraction of 50 and 20 is 30

In [ ]:
#Let us find the value of "pi"

In [10]:
import math

In [11]:
print("The value of pi is",math.pi)

The value of pi is 3.141592653589793

In [ ]:
#Multlpication of two Integer numbers

In [14]:
num1 =50
num2 =20
mul =num1 * num2
print('The Multiplication of {0} and {1} is {2}'.format(num1,num2,mul))

The Multiplication of 50 and 20 is 1000

In [ ]:
#Multlpication of two float numbers

In [15]:
num1 =50.2
num2 =2.3
mul =num1 * num2
print('The multilpication of {0} and {1} is {2}'.format(num1,num2,mul))

The multilpication of 50.2 and 2.3 is 115.46

In [ ]:
#Addition of numbers by users input

In [18]:
num1=input('enter first number:')
num2=input('enter second number:')
sum=float(num1)+float(num2)
print(sum)

enter first number:20.3
enter second number:20.3
40.6

In [19]:
num1 =input('enter first number:')
num2 =input('enter second number:')
sub =float(num1) - float(num2)
print(sub)

enter first number:40.0
enter second number:20.0
20.0

In [20]:
num1 =input('enter first number:')
num2 =input('enter second number:')
mul=float(num1) * float(num2)
print(mul)

enter first number:20.0
enter second number:2.0
40.0

In [21]:
num1 =input('enter first number:')
num2 =input('enter second number:')
div=float(num1) /float(num2)
print(div)

enter first number:50.0
enter second number:2.0
25.0

In [22]:
num1 =23
num2 =12
sum  =num1+num2
print('The sum of {0} and {1} is {2}'.format(num1,num2,sum))

The sum of 23 and 12 is 35

In [24]:
num1 =23
num2 =12
sub =num1 - num2
print('The subtraction of {0} and {1} is {2}'.format(num1,num2,sub))

The subtraction of 23 and 12 is 11

In [25]:
num1 =23
num2 =12
mul =num1 * num2
print('The Multiplication of {0} and {1} is {2}'.format(num1,num2,mul))

The Multiplication of 23 and 12 is 276

In [27]:
num1 =20
num2 =10
div =num1 / num2
print('The Division of {0} and {1} is {2}'.format(num1,num2,div))

The Division of 20 and 10 is 2.0

In [34]:
num1 =50
num2 =20
if num1>num2:
    print(num1,"is a gretest number")
else:
    print(num2,"is a gretest number")

50 is a gretest number

In [35]:
num1 =50
num2 =20
if num1<num2:
    print(num1,"is a smallest number")
else:
    print(num2,"is a smallest number")

20 is a smallest number

In [39]:
num1 =50
num2 =20
num3 =10
if (num1>=num2) and (num1>=num3):
    print(num1,"is a gretest number")
elif(num2>=num1) and (num2>=num3):
    print(num2,"is a gretest number")
else:
    print(num3,"is the gretest number")

50 is a gretest number

In [40]:
num1 =50
num2 =20
num3 =10
if (num1<=num2) and (num1<=num3):
    print(num1,"is a smallest number")
elif(num2<=num1) and (num2<=num3):
    print(num2,"is a smallest number")
else:
    print(num3,"is the smallest number")

10 is the smallest number

In [41]:
import calendar

yy =1999
mm =6
print(calendar.month(yy,mm))

     June 1999
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [1]:
print("hello to all welcome to the world of python and let us all come together to learn new language")

hello to all welcome to the world of python and let us all come together to learn new language

In [2]:
name='hello to all welcome to the world of python and let us all come together to learn new language'

In [3]:
print(name.title())

Hello To All Welcome To The World Of Python And Let Us All Come Together To Learn New Language

In [9]:
num1 =10
num2 =20

print('the value of num1 before swapping:{}'.format(num1))
print('the value of num2 before swapping:{}'.format(num2))
print('=================================================')
temp =num1
num1 =num2
num2 =temp
print('the value of num1 after swapping:{}'.format(num1))
print('the value of num2 after swapping:{}'.format(num2))

the value of num1 before swapping:10
the value of num2 before swapping:20
=================================================
the value of num1 after swapping:20
the value of num2 after swapping:10

In [11]:
num1 =input('enter first number:')
num2 =input('enter second number:')
print('-------------------------------------------------')

print('the value of num1 before swapping:{}'.format(num1))
print('the value of num2 before swapping:{}'.format(num2))
print('=================================================')
temp =num1
num1 =num2
num2 =temp

print('the value of num1 after swapping:{}'.format(num1))
print('the value of num2 after swapping:{}'.format(num2))

enter first number:34
enter second number:56
-------------------------------------------------
the value of num1 before swapping:34
the value of num2 before swapping:56
=================================================
the value of num1 after swapping:56
the value of num2 after swapping:34

In [12]:
my_str ="Hello this is an example with cased letters"
words =[word.lower() for word in my_str.split()]
words.sort()
print("The sorted words are")
for word in words:
    print(word)

the sorted words are
an
cased
example
hello
is
letters
this
with

In [15]:
print('N','N','N','N','N','N','N','\t\nN\t','\nN','\nN','\nN','N','N','N','N','N','N')

N N N N N N N
N
N
N
N N N N N N N

In [15]:
#square
print('N','N','N','N','N','\nN','N','N','N','N','\nN','N','N','N','N','\nN','N','N','N','N','\nN','N','N','N','N')

N N N N N
N N N N N
N N N N N
N N N N N
N N N N N

In [12]:
#Rectangle
print('N','N','N','N','N','N','N','\nN','N','N','N','N','N','N','\nN','N','N','N','N','N','N','\nN','N','N','N','N','N','N')

N N N N N N N
N N N N N N N
N N N N N N N
N N N N N N N

In [43]:
#Triangle
print('N','\nN','N','\nN','N','N','\nN','N','N','N','\nN','N','N','N','N')

N
N N
N N N
N N N N
N N N N N